.calendar {
  min-width: 40%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.calendar__date {
  font-weight: 600;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar__date-year, .calendar__date-month {
  display: flex;
  align-items: center;
}

.calendar__date-year span {
  font-size: 26px;
  line-height: 36px;
  margin: 0 15px;
}

.calendar__date-month span {
  font-size: 24px;
  line-height: 30px;
  margin: 0 15px;
}

.calendar__date-day span {
  font-size: 70px;
  line-height: 80px;
}

.calendar__main {
  width: 100%;
  font-weight: 600;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.calendar__numbers {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.calendar__week-days {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.calendar__week {
  width: 100%;
  height: 100%;
  margin: 2px 0px;
  display: flex;
  justify-content: space-around;
}

.calendar__week-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.calendar__week>span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 2px;
  border: 1px solid #5e5e5e;
  position: relative;
}

.calendar__week>.calendar__number_now {
  background-color: rgb(32, 205, 250);
  border: 1px solid #fcfcfc;
}

.calendar__number_weekend {
  color: rgb(255, 56, 56);
}

.calendar__number_holiday {
  color: rgb(255, 0, 0);
}

.calendar__number_inactive {
  opacity: 60%;
}

.calendar__week>.calendar__number_nowMonth:hover {
  cursor: pointer;
  background-color: rgba(2, 165, 151, 0.6);
  border: 1px solid #fcfcfc;
}

.calendar__number_select {
  background-color: rgba(2, 165, 151, 0.6);
}

.calendar__number_ifTodoList::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgb(255, 255, 0);
}

@media (max-width: 1024px) {
  .calendar {
    min-width: 100%;
    padding: 30px 30px 0;
  }
  .calendar__main {
    width: 100%;
  }
  .calendar__numbers {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .calendar {
    min-width: 100%;
  }
  .calendar__main {
    width: 100%;
  }
  .calendar__numbers {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .calendar {
    padding: 10px 0px;
  }
  .calendar__numbers {
    height: 260px;
  }
}