:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.dish__card {
  width: 24%;
  margin: 5px;
}

.dish__item {
  width: 100%;
  margin: 10px;
  padding: 10px;
  height: 400px;
  overflow: auto;
  background-color: rgb(255, 245, 110);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  p {
    font-size: 18px;
    line-height: 26px;
    padding: 3px 0;
  }

  img {
    border-radius: 5px;
  }
}

.dish__title {
  font-size: 24px;
  line-height: 38px;
  color: #000000;
}
