<div class="home">
  <h3 class="home--title">Now information for Belarus</h3>
  <div class="home--block home--block-date">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{today | date:'fullDate'}}</p>
    <p class="home--block_data">{{today | date:'h:mm a'}}</p>
  </div>

  <div class="home--block home--block-json">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{company | json}}</p>
  </div>
  
  <div class="home--block home--block-sting">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{company[0].name | uppercase}}</p>
    <p class="home--block_data">{{company[1].name | lowercase}}</p>
    <p class="home--block_data">{{company[1].name | titlecase}}</p>
  </div>

  <div class="home--block home--block-currency">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{courseUSD | currency: 'USD': '$ ': '2.2'}}</p>
  </div>

  <div class="home--block home--block-percent">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{percentCOVID | percent}}</p>
  </div>

  <div class="home--block home--block-decimal">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{numberCOVID | number}}</p>
  </div>

  <div class="home--block home--block-slice">
    <p class="home--block_info"></p>
    <p class="home--block_data">{{collectionFruit | slice:0:4}}</p>
    <ul class="home--block_data_list" *ngFor='let fruit of collectionFruit'>
      <li class="home--block_data_item">{{fruit | titlecase}}</li>
    </ul>
  </div>

</div>