.header {
   position: relative;
   max-width: 100%;
   z-index: 2;
}

.header__nav {
   width: 100%;
   position: fixed;
   border-bottom: 1px solid #666666;
}

.header__nav-block {
   height: 97px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__nav-link {
   width: 85px;
   height: 15px;
}

.header__nav-logo {
   width: inherit;
   height: inherit;
}

.header__nav-menu-items {
   display: flex;
   position: relative;
}

.header__nav-menu-item {
   margin-left: 38px;
   position: relative;
}

.header__nav-menu-item_active::before {
   content: "";
   top: 8px;
   width: 10px;
   left: -18px;
   position: absolute;
   height: 2px;
   background-color: #17BED1;
}

.header__nav-menu-item a {
   font-size: 14px;
   line-height: 22px;
   color: #ffffff;
}

.header__nav-menu-item:hover::before {
   content: "";
   top: 8px;
   width: 10px;
   left: -18px;
   position: absolute;
   height: 2px;
   background-color: #17BED1;
}

.menu__icon {
   display: none;
}

@media (max-width: 768px) {
   .header__nav-menu {
      display: none;
   }
   .menu__icon {
      margin: -5px 3px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      width: 20px;
      height: 12px;
      cursor: pointer;
   }
   .menu__icon span:nth-child(2), .menu__icon::before, .menu__icon::after {
      left: 0;
      position: absolute;
      height: 1px;
      background-color: #ffffff;
   }
   .menu__icon::before {
      content: "";
      top: 0;
      width: 50%;
   }
   .menu__icon::after {
      content: "";
      bottom: 0;
      width: 100%;
   }
   .menu__icon span:nth-child(2) {
      top: 50%;
      width: 80%;
   }
}

@media (max-width: 375px) {
   .header__nav-block.content {
      padding: 0 15px;
   }
}