.price {
  height: 782px;
  background-color: #fafafa;
}

.price__items {
  padding-top: 108px;
  display: flex;
}

.price__item {
  align-self: center;
  width: 33.2%;
  height: 570px;
  margin: 0 1px;
  padding: 110px 45px;
  background-color: #ffffff;
}

.price__item:first-child {
  margin-left: 0;
  padding: 70px 45px;
  height: 490px;
}

.price__item:last-child {
  margin-right: 0;
  padding: 70px 45px;
  height: 490px;
}

.price__item-title {
  margin-top: 35px;
}

.price__item-title span {
  font-size: 13px;
  letter-spacing: 1.1px;
}

.price__item-text {
  margin-top: 15px;
}

.price__list {
  margin: 27px 0 0 20px;
}

.price__list-point {
  font-size: 13px;
  margin-bottom: 7px;
  position: relative;
}

.price__list-point::before {
  content: "";
  top: 10px;
  width: 10px;
  left: -20px;
  position: absolute;
  height: 2px;
  background-color: #17BED1;
}

.price__list-point:last-child {
  margin-bottom: 0;
}

.price__item-button {
  margin-top: 47px;
  width: 110px;
  height: 50px;
  color: #000000;
  background-color: #f3f4f5;
  font-weight: 600;
}
.price__item-button:hover {
  color: #ffffff;
  background-color: #17BED1;
  transition: all 0.5s ease 0s;
}

@media (min-width: 600.98px) and (max-width: 767.98px) {
  .price__item {
    align-self: flex-start;
    width: 33.2%;
    height: min-content;
    padding: 70px 20px 10px;
  }
  .price__item:first-child {
    margin-left: 0;
    padding: 70px 20px 10px;
    height: min-content;
  }
  
  .price__item:last-child {
    margin-right: 0;
    padding: 70px 20px 10px;
    height: min-content;
  }
}

@media (width: 768px) {

  .price {
    height: 846px;
  }
  .price__items {
    padding-top: 100px;
    display: flex;
  }
  .price__item {
    align-self: flex-start;
    height: 645px;
  }
  .price__item:first-child {
    height: 565px;
  }
  
  .price__item:last-child {
    height: 565px;
  }
  .price__item-title {
    margin-top: 29px;
    line-height: 29px;
  }
  .price__item-text {
    margin-top: 15px;
    line-height: 21px;
  }
  .price__list {
    margin: 29px 0 0 20px;
  }
  .price__item-button {
    margin-top: 46px;
  }
}

@media (max-width: 600px) {
  .price {
    height: inherit;
  }
  .price__items {
    padding: 100px 0 100px;
    display: flex;
    flex-direction: column;
  }
  .price__item {
    align-self: center;
    width: 100%;
    height: 570px;
    margin-bottom: 3px;
    padding: 110px 45px;
    background-color: #ffffff;
  }
  .price__item:first-child {
    padding: 70px 45px 10px;
    height: 490px;
  }
  
  .price__item:last-child {
    padding: 70px 45px 10px;
    height: 490px;
  }
  .price__item-title {
    margin-top: 29px;
    line-height: 29px;
  }
}